<!DOCTYPE html>
{% load staticfiles %}

<html>
<style>

#myCarousel{
  carousel : cycle;
  }
.slider-size {
  height: 1200px; /*This is your slider height*/
  /*width: 1000px;*/

}
.carousel {
  width:90%;
  margin:10% auto; /*center your carousel if other than 100%*/

}

.carousel-caption {
  /*font-style: */
  font-size:60px;
  /*background-color: #f5deb3;*/
  color: #ffffff;
  /*opacity: 0.2;*/
}

#button {
  width:90%;
  margin:10% auto;


}

.red{
  color: red;
}

body {
  /*background-image:  url("{% static 'img/beach.jpg' %}" );*/
}
</style>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>2015，这一年</title>
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/fileinput.min.css' %}" media="all" rel="stylesheet" type="text/css" />
  <script src="{% static 'js/canvas-to-blob.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap-fileinput/js/fileinput.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-fileinput/js/fileinput_locale_zh.js' %}"></script>
  <script src="{% static 'js/jquery-cookie/jquery.cookie.js' %}"></script>


</head>
<body>

 
<div class='container' >
     <div class="col-sm-6 col-sm-offset-3" >
     <h1>我的2015</h1>
     <br>
      <!-- <audio src="/main-static/audio/innocent.m4a"  autoplay="autoplay" controls="controls" loop="loop"></audio> -->
      <!-- <audio src="/main-static/audio/shenlin.mp3"   controls="controls" loop="loop"></audio> -->

 
                <!-- List of uploaded documents -->
                {% if img_title %}
                        <ol>
                        {% for content in img_title %}
                          {% for k,v in content.items %}
                                <li>文字：{{ k }}  <br>图片：<a href="/media/documents/{{ v }}">{{ v }}
                                <!-- <img src="{{ d.docfile.url }}" alt="{{ d.docfile.name }}"> -->
                                    </a>
                                </li>
                          {% endfor %}
                        {% endfor %}
                        </ol>
                {% else %}
                        <p>No documents.</p>
                {% endif %}
                <!-- Upload form. Note enctype attribute! -->  
  
                <form action="/huodong/yearbook/{{user_id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}


                  <div class="form-group">
                    <label for="comment">文字：</label>
                    <input type="text" class="form-control " name="comment" placeholder="写下这图片的故事">
                  </div>
                  <p class="red">点击以下按钮上传图片文件，非wifi条件下，建议选择小文件, 图片统一在1月2号删除
                  <div class="form-group">
                        
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.docfile.label_tag }} </p>
                        <p>
                                {{ form.docfile.errors }}
                                {{ form.docfile }}
                        </p>      
                 </div>
    <button type="submit" class="btn btn-primary btn-lg " value="Upload">上传</button>
    <br>
    <br>

                </form>
      <a class="btn btn-primary btn-lg btn-block" href="/huodong/yearbook/{{user_id}}/show" role="button">提交</a>
      </div>
</div>



    <!-- <button id="button" type="submit" class="btn btn-primary btn-lg btn-block">背景音乐</button> -->
  <!-- </div> -->
<script>


   $(function(){
          // window.alert("hello");

          // initialize with defaults
      $("#input-id").fileinput();

      // with plugin options
      $("#input-id").fileinput({'showUpload':false, 'previewFileType':'any'});

      $('.carousel').carousel({
      interval: 3500
    });

      $("button").click(function(){
      var snd = new Audio("/main-static/audio/Innocent.mp3"); // buffers automatically when created
      snd.play();
      // window.alert("hello");
      });

    

      // // 停止轮播
      // $(".pause-slide").click(function(){
      //    $("#myCarousel").carousel('pause');
      // });
      // // 循环轮播到上一个项目
      // $(".prev-slide").click(function(){
      //    $("#myCarousel").carousel('prev');
      // });
      // // 循环轮播到下一个项目
      // $(".next-slide").click(function(){
      //    $("#myCarousel").carousel('next');
      // });
      // // 循环轮播到某个特定的帧 
      // $(".slide-one").click(function(){
      //    $("#myCarousel").carousel(0);
      // });
      // $(".slide-two").click(function(){
      //    $("#myCarousel").carousel(1);
      // });
      // $(".slide-three").click(function(){
      //    $("#myCarousel").carousel(2);
      // });
   });
</script>


</body>
</html>     
